{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 col-md-12">

    </div>
    <div class="col-md-8 col-md-12">

    </div>
</div>




{% endblock %}
